.GrandParent{
    background-color: black;
    color: floralwhite;
    // margin-left: 110px;
}
.Todo{
    color: #BDB76B;
    font-size: 32px;
    letter-spacing: -2px;
    text-align: left;
}
.listParent{
    font-size: 18px;
    
}
.listItems{
    list-style-type: circle;
}