.GrandParent{
    color: floralwhite;
    // margin-left: 110px;
}
.Todo{
    color: #BDB76B;
    font-size: 32px;
    letter-spacing: -2px;
    text-align: left;
}
.listParent{
    font-size: 18px;
    margin-left: 18px   ;
    
}
.listItems{
    list-style-type: circle;
}
.button{
    background-color: rgb(86, 110, 86);
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 1150px;
    cursor: pointer;
}
.inputBox{
    width: -webkit-fill-available;
    padding: 5px;
    margin-right: 50px;
    margin-top: 1px;
    margin-left: 50px;
    margin-bottom: 1px;
    color : black;
    text-shadow :black;
}